*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg,#344e41,#3a5a40);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}